openapi: 3.1.0
info:
  title: Novel AI Memory API
  version: 0.2.0
  description: Persistent memory API for the RomanAI interactive novel.

servers:
  - url: https://ai-roman-yumikofv.mia0.amvera.tech
    description: Amvera production

security: []

paths:
  /health:
    get:
      operationId: health
      summary: Check backend health
      responses:
        '200':
          description: Backend is available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
      security: []

  /sessions:
    post:
      operationId: createSession
      summary: Create a new novel session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewSession'
      responses:
        '200':
          description: Session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSessionResponse'
      security: []

  /sessions/{session_id}/setup/messages:
    post:
      operationId: appendSetupMessage
      summary: Save one original setup message
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetupChunk'
      responses:
        '200':
          description: Setup message saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaveSetupMessageResponse'
      security: []

  /sessions/{session_id}/setup/finalize:
    post:
      operationId: finalizeSetup
      summary: Finalize confirmed novel setup
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinalizeSetup'
      responses:
        '200':
          description: Setup finalized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinalizeSetupResponse'
      security: []

  /sessions/{session_id}/opening-scene:
    post:
      operationId: saveOpeningScene
      summary: Save the opening scene
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpeningScene'
      responses:
        '200':
          description: Opening scene saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaveOpeningSceneResponse'
      security: []

  /sessions/{session_id}/turns:
    post:
      operationId: saveTurn
      summary: Save one completed turn and its state changes
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Turn'
      responses:
        '200':
          description: Turn saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaveTurnResponse'
      security: []

  /sessions/{session_id}/chronology/compact:
    post:
      operationId: compactChronology
      summary: Compact the next completed block of 15 turns
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Compact'
      responses:
        '200':
          description: Chronology block compacted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompactChronologyResponse'
      security: []

  /sessions/{session_id}/state:
    get:
      operationId: getSessionState
      summary: Read current session memory and causal cast registry
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Current session state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionStateResponse'
      security: []

  /sessions/{session_id}/characters/{character_id}:
    get:
      operationId: getCharacterState
      summary: Read one character card knowledge and relationships
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
        - name: character_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Character state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterStateResponse'
      security: []

components:
  schemas:
    Character:
      type: object
      properties:
        character_id:
          type: string
          minLength: 1
          maxLength: 80
        card:
          type: string
          default: ''
        knowledge_start:
          type: string
          default: ''
        relationship_start:
          type: string
          default: ''
      required:
        - character_id

    NewSession:
      type: object
      properties:
        session_id:
          anyOf:
            - type: string
            - type: 'null'
          default: null
        title:
          type: string
          default: Новая новелла

    SetupChunk:
      type: object
      properties:
        message_number:
          type: integer
          minimum: 1
        text:
          type: string
      required:
        - message_number
        - text

    FinalizeSetup:
      type: object
      properties:
        novel:
          type: string
        novel_rules:
          type: string
          default: ''
        hidden_lore:
          type: string
          default: ''
        plot_threads:
          type: string
          default: ''
        pov_character_id:
          anyOf:
            - type: string
            - type: 'null'
          default: null
        characters:
          type: array
          items:
            $ref: '#/components/schemas/Character'
          default: []
        audit:
          type: boolean
          default: false
      required:
        - novel

    OpeningScene:
      type: object
      properties:
        scene_text:
          type: string
        continuity:
          anyOf:
            - type: string
            - type: 'null'
          default: null
        continuity_events:
          type: string
          default: ''
        game_day:
          anyOf:
            - type: string
            - type: 'null'
          default: null
        world_date:
          anyOf:
            - type: string
            - type: 'null'
          default: null
        world_time:
          anyOf:
            - type: string
            - type: 'null'
          default: null
      required:
        - scene_text

    Turn:
      type: object
      properties:
        turn_number:
          type: integer
          minimum: 1
        user_text:
          type: string
        scene_text:
          type: string
        chronology_note:
          type: string
          default: ''
        continuity:
          anyOf:
            - type: string
            - type: 'null'
          default: null
        continuity_events:
          type: string
          default: ''
        plot_threads:
          anyOf:
            - type: string
            - type: 'null'
          default: null
        knowledge_updates:
          type: object
          properties: {}
          additionalProperties:
            type: string
          default: {}
        relationship_updates:
          type: object
          properties: {}
          additionalProperties:
            type: string
          default: {}
        character_updates:
          type: object
          properties: {}
          additionalProperties:
            type: string
          default: {}
        present_characters:
          type: array
          items:
            type: string
          default: []
        remote_characters:
          type: array
          items:
            type: string
          default: []
        meaningful_character_actions:
          type: object
          properties: {}
          additionalProperties:
            type: string
          default: {}
        cast_updates:
          type: object
          properties: {}
          additionalProperties:
            type: string
          description: Current unresolved goal, plan or causal reason for a persistent NPC.
          default: {}
        new_characters:
          type: array
          items:
            $ref: '#/components/schemas/Character'
          default: []
        game_day:
          anyOf:
            - type: string
            - type: 'null'
          default: null
        world_date:
          anyOf:
            - type: string
            - type: 'null'
          default: null
        world_time:
          anyOf:
            - type: string
            - type: 'null'
          default: null
      required:
        - turn_number
        - user_text
        - scene_text

    Compact:
      type: object
      properties:
        through_turn:
          type: integer
          minimum: 15
        content:
          type: string
          minLength: 1
      required:
        - through_turn
        - content

    HealthResponse:
      type: object
      properties:
        ok:
          type: boolean
        version:
          type: string
      required:
        - ok
        - version

    CreateSessionResponse:
      type: object
      properties:
        session_id:
          type: string
        setup_stage:
          type: string
      required:
        - session_id
        - setup_stage

    SaveSetupMessageResponse:
      type: object
      properties:
        saved:
          type: boolean
        idempotent:
          type: boolean
        message_number:
          type: integer
      required:
        - saved
        - idempotent
        - message_number

    FinalizeSetupResponse:
      type: object
      properties:
        finalized:
          type: boolean
        setup_revision:
          type: integer
        setup_audit_count:
          type: integer
        checked_through_message:
          type: integer
        characters:
          type: array
          items:
            type: string
      required:
        - finalized
        - setup_revision
        - setup_audit_count
        - checked_through_message
        - characters

    SaveOpeningSceneResponse:
      type: object
      properties:
        saved:
          type: boolean
        idempotent:
          type: boolean
      required:
        - saved
        - idempotent

    SaveTurnResponse:
      type: object
      properties:
        saved:
          type: boolean
        idempotent:
          type: boolean
        turn_number:
          type: integer
        compaction_due:
          type: boolean
      required:
        - saved
        - idempotent
        - turn_number
        - compaction_due

    CompactChronologyResponse:
      type: object
      properties:
        compacted:
          type: boolean
        idempotent:
          type: boolean
        through_turn:
          type: integer
        chronology:
          type: string
      required:
        - compacted
        - idempotent
        - through_turn
        - chronology

    SessionMeta:
      type: object
      properties:
        session_id:
          type: string
        title:
          type: string
        setup_stage:
          type: string
        setup_confirmed:
          type: boolean
        opening_scene_saved:
          type: boolean
        last_setup_message:
          type: integer
        last_saved_turn:
          type: integer
        last_compaction_turn:
          type: integer
        pov_character_id:
          anyOf:
            - type: string
            - type: 'null'
        game_day:
          anyOf:
            - type: string
            - type: 'null'
        world_date:
          anyOf:
            - type: string
            - type: 'null'
        world_time:
          anyOf:
            - type: string
            - type: 'null'
      additionalProperties: true

    SessionStateResponse:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/SessionMeta'
        setup_source:
          type: string
        novel:
          type: string
        novel_rules:
          type: string
        hidden_lore:
          type: string
        opening_scene:
          anyOf:
            - type: string
            - type: 'null'
        chronology:
          type: string
        continuity:
          type: string
        plot_threads:
          type: string
        cast_registry:
          type: string
        recent_turns:
          type: string
        characters:
          type: array
          items:
            type: string
        compaction_due:
          type: boolean
      required:
        - meta
        - setup_source
        - novel
        - novel_rules
        - hidden_lore
        - chronology
        - continuity
        - plot_threads
        - cast_registry
        - recent_turns
        - characters
        - compaction_due

    CharacterStateResponse:
      type: object
      properties:
        character_id:
          type: string
        card:
          type: string
        knowledge:
          type: string
        relationship:
          type: string
      required:
        - character_id
        - card
        - knowledge
        - relationship
